# Dependencies
node_modules/

# Tests
coverage/

# Production
build/
dist/
docs/

# Misc
.DS_Store
.vscode/
.idea/

# Cache
.netlify/
.vercel/
.next/
.pnp/
db/
.turbo/
.eslintcache
.swc/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Env
.env
